/* Estilizando o scroll bar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #6a0000;
  border-radius: 0px;
}

::-webkit-scrollbar-track {
  background-color: #9c00005c;
}

html {
  scroll-behavior: smooth;
}

body {
  color: black;
  background-color: white;
}
h1, h2 {
  text-align: center;
  color: black;
  padding: 50px;
}
.card {
  margin-bottom: 20px;
}
#about {
  text-align: justify;
  margin-bottom: 10px;
  text-decoration: none;
}
.btn-primary {
  background-color: red;
  border-color: rgb(0, 0, 0);
}
.btn-primary:hover {
  color: rgb(255, 0, 0);
  background-color: black;
  border-color: rgb(255, 0, 0);
}
#contact {
  background-color: black;
  color: white;
}
#contato {
  color: white;
}
#icon {
  width: 90px;
  margin-left: 15px;
}
#sobre {
  font-size: 20px;
}
.comic-button {
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #ff0000;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
  transition: transform 0.3s;
}
.comic-button:hover {
  background-color: #fff;
  color: #ff0000;
  border: 2px solid #ff0000;
  box-shadow: 5px 5px 0px #ff0000;
  transform: scale(1.1);

}
.comic-button:active {
  background-color: #000000;
  box-shadow: none;
  transform: translateY(4px);
}
#category {
  padding-bottom: 50px;
}
.navbar {
  background-color: #fff;
  transition: top 0.3s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  font-weight: bold;
  font-size: 20px;
}
.navbar-nav .nav-item {
  margin-right: 25px; /* Espaçamento entre os itens */
}
.navbar.hidden {
  top: -10000px; /* Altura da navbar */
}
.navbar .nav-item {
  transition: opacity 0.3s;
  opacity: 1;
}
.navbar.hidden .nav-item {
  opacity: 0;
}
.nav-link{
  color: #000;
}
.nav-link:hover {
  color: #b40000;
}

body {
  padding-top: 100px; /* Altura da navbar para evitar que o conteúdo seja cortado */
}
#btn-cv{
padding-bottom: 30px;
text-align: center;
}
#btn{
  margin-top: 80px;
  text-align: center;
  align-items: center;
}
#btnico{
  text-decoration: none;
}
#categoria{
  margin-top: 60px;
  margin-bottom: 60px;
  text-decoration: none;
}
#icones{
  width: 140px;
}

/* container projetos */

.main-container {
  max-width: 120rem;
  margin: auto;
  width: 92%;
}

.sec-pad {
  padding: 4rem 0;
}
@media only screen and (max-width: 56.25em) {
  .sec-pad {
    padding: 4rem 0;
  }
}

.projects__row {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 5rem;
  margin-bottom: 11rem;
}
@media only screen and (max-width: 56.25em) {
  .projects__row {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    margin-bottom: 8rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .projects__row {
    text-align: center;
  }
}
.projects__row:last-child {
  margin-bottom: 0;
}
.projects__row-img-cont {
  overflow: hidden;
}
.projects__row-img {
  width: 100%;
  display: block;
  object-fit: cover;
}
.projects__row-content {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
@media only screen and (max-width: 56.25em) {
  .projects__row-content {
    align-items: center;
  }
}
.projects__row-content-title {
  font-weight: 700;
  font-size: 2.8rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .projects__row-content-title {
    font-size: 2.4rem;
  }
}
.projects__row-content-desc {
  font-size: 1.8rem;
  color: grey;
  max-width: 60rem;
  line-height: 1.7;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 37.5em) {
  .projects__row-content-desc {
    font-size: 1.7rem;
  }
}
.projects__row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.projects__row-img {
  max-width: 100%;
  height: auto;
  width: 800px;
  padding: 60px;
}

@media (max-width: 768px) {
  .projects__row {
    flex-direction: column;
  }

  .projects__row-img-cont {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (min-width: 769px) {
  .projects__row:nth-child(2) {
    flex-direction: row-reverse; /* Alteração para row-reverse para posicionar a imagem à esquerda */
  }

  .projects__row:nth-child(2) .projects__row-content {
    order: 2;
  }
}
.projects__row-content-title{
  font-size: 30px;
  font-weight: bolder;

}

/* CSS */
#categoria img {
  transition: transform 0.3s;
}

#categoria img:hover {
  transform: scale(1.1);
}


/* container projetos */

#ico-ftr:hover {
  transform: scale(1.1); /* Aumenta o tamanho em 10% */
  transition: transform 0.3s ease; /* Adiciona uma transição suave */
}
