@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 100px;
  color: black;
  background-color: white;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif; /* Importa a fonte Poppins */
}

footer {
  background-color: #000;
  color: white;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #6a0000;
  border-radius: 0px;
}

::-webkit-scrollbar-track {
  background-color: #9c00005c;
}

#about {
  background-color: #000;
  color: #fff;
  text-align: justify;
  margin-bottom: 10px;
  padding-top: 30px;
  text-decoration: none;
}

.btn-primary {
  background-color: red;
  border-color: rgb(0, 0, 0);
}

.btn-primary:hover {
  color: rgb(255, 0, 0);
  background-color: black;
  border-color: rgb(255, 0, 0);
}

#contact {
  background-color: black;
  color: white;
}

#contato {
  color: white;
}

#icon {
  width: 90px;
  margin-left: 15px;
}

#sobre {
  font-size: 20px;
}

.comic-button {
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #ff0000;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
  transition: transform 0.3s;
}

.comic-button:hover {
  background-color: #fff;
  color: #ff0000;
  border: 2px solid #ff0000;
  box-shadow: 5px 5px 0px #ff0000;
  transform: scale(1.1);
}

.comic-button:active {
  background-color: #000000;
  box-shadow: none;
  transform: translateY(4px);
}

#category {
  padding-bottom: 50px;
}

#btn-cv {
  padding-bottom: 30px;
  text-align: center;
}

#btn {
  margin-top: 80px;
  text-align: center;
  align-items: center;
}

#btnico {
  text-decoration: none;
}

#categoria {
  margin-top: 60px;
  margin-bottom: 60px;
  text-decoration: none;
}

#icones {
  width: 140px;
}

.main-container {
  max-width: 120rem;
  margin: auto;
  width: 90%;
}

.sec-pad {
  padding: 4rem 0;
}

.projects__row:last-child {
  margin-bottom: 0;
}

.projects__row-img-cont {
  overflow: hidden;
}

.projects__row-img {
  display: block;
  object-fit: cover;
  max-width: 100%;
  height: auto;
  width: 800px;
  padding: 50px;
}

.projects__row-content {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.projects__row-content-desc {
  font-size: 1.4rem;
  color: grey;
  max-width: 60rem;
  line-height: 1.7;
}

.projects__row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects__row-content-title {
  font-weight: bolder;
}

#categoria img {
  transition: transform 0.3s;
}

#categoria img:hover {
  transform: scale(1.1);
}

#ico-ftr {
  width: 50px;
  margin-right: 10px;
}

#ico-ftr:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

#resume-preview {
  display: none;
  width: 100%;
  height: 1000px;
}

@media (min-width: 940px) {
  .projects__row:nth-child(2),
  .projects__row:nth-child(4),
  .projects__row:nth-child(6),
  .projects__row:nth-child(8),
  .projects__row:nth-child(10),
  .projects__row:nth-child(12),
  .projects__row:nth-child(14),
  .projects__row:nth-child(16),
  .projects__row:nth-child(18),
  .projects__row:nth-child(20),
  .projects__row:nth-child(22),
  .projects__row:nth-child(24),
  .projects__row:nth-child(26),
  .projects__row:nth-child(28) {
    flex-direction: row-reverse;
  }
  .projects__row:nth-child(2) .projects__row-content,
  .projects__row:nth-child(4) .projects__row-content,
  .projects__row:nth-child(6) .projects__row-content,
  .projects__row:nth-child(8) .projects__row-content,
  .projects__row:nth-child(10) .projects__row-content,
  .projects__row:nth-child(12) .projects__row-content,
  .projects__row:nth-child(14) .projects__row-content,
  .projects__row:nth-child(16) .projects__row-content,
  .projects__row:nth-child(18) .projects__row-content,
  .projects__row:nth-child(20) .projects__row-content,
  .projects__row:nth-child(22) .projects__row-content,
  .projects__row:nth-child(24) .projects__row-content,
  .projects__row:nth-child(26) .projects__row-content,
  .projects__row:nth-child(28) .projects__row-content {
    order: 2;
  }
}

@media (max-width: 940px) {
  .projects__row {
    flex-direction: column;
  }
  .projects__row-img-cont {
    margin-right: 0;
  }
  .projects__row-img {
    padding: 0;
  }
}

@media only screen and (max-width: 768px) {
  #about {
    text-align: left; /* Altera a alinhamento do texto para esquerda */
    margin-bottom: 0; /* Remove a margem inferior */
  }
  /* Define a classe das colunas para ocuparem 6/12 de largura, ou seja, 2 em cima e 2 em baixo */
  .col-lg {
    flex: 0 0 50%; /* 2 colunas por linha */
    max-width: 50%; /* 2 colunas por linha */
    padding: 0 15px; /* Espaçamento entre as colunas */
    margin-bottom: 20px; /* Espaçamento entre as linhas */
  }

  /* Para evitar que as imagens fiquem muito grandes em telas menores, você pode ajustar o tamanho delas */
  #icones {
    width: 70px; /* Tamanho menor para as imagens */
  }

  /* Para manter o texto alinhado ao centro das imagens */
  .col-lg h2 {
    text-align: center;
  }
}

#intro{
  margin-top: 100px;
  margin-bottom: 100px;
}

#categoriadeprojetos{
  padding-bottom: 100px;
}